/* 
This css file is mainly unchanged from Dive The Game: https://glitch.com/~dive-the-game 
*/
@font-face{
  font-family: "Apple II";
  src: url('font.ttf');
}

body {
  color: #A43D00;
  background: #d3ddde;
  font-size: 2vh;
  font-family: "Apple II";
  line-height: 4vh;
}


.train {
  position: absolute;
  top: 10;
  left: ;
  width: 100%;
  margin: 5% 10% 5% -8%;
  opacity: 100%;
  
}

.person {
  position: relative;
  top: 300;
  left: 500;
  width: 30%;
  margin: 25% 10% 5% 15%;
  opacity: 100%;
}

.img {
  white-space: pre;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#output {
  width: 95vw;
  height: 80vh;
  margin-bottom: 2vw;
  overflow-y: scroll;
  padding: 2vw;
}

#output div {
  margin-bottom: 1vw;
}

#input {
  width: 98.5vw;
  height: 10vh;
  color:  black;
  background: #d3ddde;
  position: fixed;
  bottom: 0;
  font-size: 2vh;
  font-family: "Apple II";
}

